body {
  font-family: "Open Sans", sans-serif;
}

h2,
h3 {
  font-family: "Architects Daughter";
}

h1 {
  font-family: "Alex Brush", "bold";
  color: #daa520;
}

h2 {
  color: #32cd32;
}

h3 {
  color: #daa520;
}

header h2 {
  color: #000000c0;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#cec8ff, white);
  padding: 20px 0;
}

.navbar-light {
  color: black;
  background-color: white;
}

.btn-outline-gold {
  color: #daa520;
}
